.teams-accordion .complex, .teams-accordion .simple {
    transition: font-size 0.5s;
}

.teams-accordion .card {
    transition: all 0.5s;
}



.teams-accordion .lowlight {
    font-size: 1rem;
}

.teams-accordion .lowlight .team-name {
    font-weight: 700;
}

.teams-accordion .lowlight .players {
    
}

.teams-accordion .highlight {
    font-size: 1.5rem;
}

.teams-accordion .highlight .team-name {
    font-weight: 700;
}

.teams-accordion .highlight .players {
    
}

/* .teams-accordion .highlight .simple {
    opacity: 0;
}

.teams-accordion .highlight .complex {
    opacity: 1;
}

.teams-accordion .lowlight .simple {
    opacity: 1;
}

.teams-accordion .lowlight .complex {
    opacity: 0;
} */