/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html, .App-body {
  background-color: #444444;
}

table td,th {
  padding: 0 2rem;
}

/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

.App-body {
  padding-top: 1rem;
}

label, body p,h1,h2,h3,h4,h5,h6 {
  color: white;
}

.PeopleTool p,h1,h2,h3,h4,h5,h6 {
  color: white;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.flush-rightside-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* START List Item START */
.list-item {
  padding: 1rem;
  margin: 0;
  color: white;
}

.list-item.sm {
  padding: 0.2rem 1rem;
}

.list-item.item {
  cursor: pointer;
  user-select: none;
  color: white;
}

.list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-item:nth-child(odd) {
  background-color: #666688;
}

.list-item:nth-child(even) {
  background-color: #555577;
}

.list-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-item.search-item {
  color: black;
  background-color: #666688;
  padding: 0;
}

.list-item.search-item input {
  color: white;
  background-color: #666688;
  padding: 1rem 1rem;
  margin: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none;
}

.list-item.item:hover, .list-item.search-item input:hover {
  background-color: #444466;
}

.list-item.search-item input::placeholder {
  color: #CED3DC;
}

.list-item.item.selected {
  background-color: #333333;
}

.list-item p {
  margin-bottom: 0;
}
/* END List Item END */


.no-highlight {
  user-select: none;
}

.form-control.header-input {
  border-radius: 0;
  border: none;
  background-color: darkgray;
}

.scroll {
  height: calc(100vh - 277px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.EventTool .scroll {
  height: calc(100vh - 100px);
}

.scroll.event-players {
  height: calc(100vh - 350px);
}